@model UserProfileViewModel
<div class="container">
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-area="" asp-controller="Account" asp-action="Profile" method="post" >
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="display-4 text-primary mt-1 mb-2" style="font-size:30px">Kullanıcı Bilgileri</h6>
                <div>
                    <a asp-area="" asp-controller="Account" asp-action="ChangePassword" class="btn btn-primary btn-sm">Şifre Değiştir</a>
                </div>
            </div>
            <div class="row">
                <div class="text-danger col-md-12" asp-validation-summary="All"></div>
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label asp-for="User.FirstName"></label>
                            <input asp-for="User.FirstName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label asp-for="User.LastName"></label>
                        <input asp-for="User.LastName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-2">
                        <label asp-for="User.Address"></label>
                        <textarea asp-for="User.Address" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label asp-for="User.City"></label>
                        <input asp-for="User.City" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label asp-for="User.Gender"></label>
                        <select asp-for="User.Gender" class="form-control">
                                <option value="Kadın">Kadın</option>
                                <option value="Erkek">Erkek</option>
                                <option value="Belirtmek İstemiyorum">Belirtmek İstemiyorum</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label asp-for="User.UserName"></label>
                        <input asp-for="User.UserName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label asp-for="User.Email"></label>
                        <input asp-for="User.Email" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label asp-for="User.PhoneNumber"></label>
                        <input asp-for="User.PhoneNumber" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label asp-for="User.DateOfBirth"></label>
                            @{
                                var year = DateTime.Today.Year - 18;
                                var month = DateTime.Today.Month;
                                string monthString = month < 10 ? "0" + month : month.ToString();
                                var day = DateTime.Today.Day;
                                string dayString = day < 10 ? "0" + day : day.ToString();
                                var maxDate = $"{year}-{monthString}-{dayString}";
                            }
                        <input asp-for="User.DateOfBirth" type="date" min="1940-01-01" max="@maxDate" class="form-control" />
                        <!-- min ve max değerde yıl-ay-gün olarak verilir.  -->
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-3 btn-block">Değişiklikleri Kaydet ve Ana Sayfaya Dön</button>
        </form>
    </div>

    <div class="col-md-4">
        <h1 class="display-4 text-primary mt-1 mb-2" style="font-size:30px">Geçmiş Siparişler</h1>
        <div class="accordion" id="orderAccordion">
        @foreach(var order in Model.Orders)
        {
        <div class="card">
            <div class="card-header" id="title-order-@order.Id">
                <h2 class="mb-0">
                        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#order-details-@order.Id" aria-expanded="true" aria-controls="order-details-@order.Id">
                        <div class="row">
                                <div class="col-md-4">@order.Id</div>
                                <div class="col-md-4 text-center">@order.OrderDate</div>
                                <div class="col-md-4 text-right">@($"{order.TotalPrice:C0}")</div>
                        </div>
                    </button>
                </h2>
            </div>
                <div id="order-details-@order.Id" class="collapse" aria-labelledby="tite-order-@order.Id" data-parent="#orderAccordion">
                <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Ürün</th>
                                    <th scope="col">Birim Fiyat</th>
                                    <th scope="col">Adet</th>
                                    <th scope="col">Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var orderDetail in order.OrderDetails)
                                {
                                <tr>
                                    <td>
                                        <img src="/images/products/@orderDetail.Product.ImageUrl" width="30">
                                        <span>@orderDetail.Product.Name</span>
                                    </td>
                                        <td>@($"{orderDetail.Price:C0}")</td>
                                    <td>@orderDetail.Quantity</td>
                                    <td>@($"{(orderDetail.Price * orderDetail.Quantity)}")</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
        }
    </div>
    </div>
</div>

</div>
