@model List<CategoryViewModel>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <h1>Kategori Listesi @(ViewBag.IsDeleted ? "Çöp Kutusu" : "")</h1>
                </div>
                <div>
                    <a asp-area="Admin"
                       asp-controller="Category"
                       asp-action="Index"
                       asp-route-id="@(!ViewBag.IsDeleted)"
                       class="btn btn-sm @(ViewBag.IsDeleted ? "btn-info" : "btn-danger")">@(ViewBag.IsDeleted ? "Kategori Listesine Geri Dön" : "Çöp Kutusu")</a>

                    <a asp-area="Admin"
                       asp-controller="Category"
                       asp-action="Create"
                       class="btn btn-success btn-sm">Yeni Kategori</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="myDataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Ürün</th>
                                        <th>Açıklama</th>
                                        <th>Aktif</th>
                                        <th width="55" class="text-center">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        @foreach (var c in Model)
                                        {
                                            <tr>
                                                <td>@c.Id</td>
                                                <td>
                                                    <a asp-area="Admin"
                                                    asp-controller="Category"
                                                    asp-action="Edit"
                                                    asp-route-id="@c.Id"
                                                    class="btn btn-link">@c.Name</a>
                                                </td>
                                                <td>@c.Description</td>
                                                <td>
                                                    <form id="isActiveForm_@c.Id"
                                                    asp-area="Admin"
                                                    asp-controller="Category"
                                                    asp-action="UpdateIsActive"
                                                    asp-route-id="@c.Id"
                                                    method="post">
                                                        <div class="custom-control custom-switch">
                                                            <input onchange="document.getElementById('isActiveForm_@c.Id').submit();"
                                                            type="checkbox" class="custom-control-input" id="isActive_@c.Id"
                                                            @(c.IsActive ? "checked" : "") />
                                                            <label class="custom-control-label" for="isActive_@c.Id"></label>
                                                        </div>
                                                    </form>

                                                </td>
                                                <td class="text-center">
                                                    @if (!ViewBag.IsDeleted)
                                                    {
                                                        <a asp-area="Admin"
                                                        asp-controller="Category"
                                                        asp-action="Edit"
                                                        asp-route-id="@c.Id"
                                                        class="btn btn-warning btn-sm">
                                                            <i class="far fa-edit"></i>
                                                        </a>
                                                        <a asp-area="Admin"
                                                        asp-controller="Category"
                                                        asp-action="Delete"
                                                        asp-route-id="@c.Id"
                                                        class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-area="Admin"
                                                        asp-controller="Category"
                                                        asp-action="SoftDelete"
                                                        asp-route-id="@c.Id"
                                                        class="btn btn-success btn-sm">
                                                            <i class="fas fa-undo-alt"></i>
                                                        </a>
                                                        <a asp-area="Admin"
                                                        asp-controller="Category"
                                                        asp-action="HardDelete"
                                                        asp-route-id="@c.Id"
                                                        class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">Silinmiş kategori bulunamadı.</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Styles {
    @await Html.PartialAsync("_DataTablesCssPartial")
}

@section Scripts {
    @await Html.PartialAsync("_DataTablesJsPartial")
}
